*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(162, 66, 66, 0.196);
}

h1{
    text-align: center;
    padding: 10px;
    color: rgb(34, 34, 31);
    font-style: oblique;
    letter-spacing: 1px;
    text-decoration: wavy;
}

h1 i{
    font-size: 30px;
}

.container{
  width: 60%;
  background: rgba(243, 102, 102, 0.087);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

.chatarea{
    height: 400px;
    overflow-y: auto;
    border: 3px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    scroll-behavior: smooth;
    background-color: rgba(255, 145, 145, 0.087);
}

.chatarea p{
    padding: 10px 10px 10px 10px;
    letter-spacing: 1px;
}


.inputbar{
    display: flex;
    border: 1px solid rgb(142, 130, 130);
    border-radius: 10px;
}

button{
   padding: 10px;
   border: none;
   border-radius: 10px;
   color: white;
   background: #10a37f;
   cursor: pointer;
}

button i {
    font-size: 20px;
}


input{
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    letter-spacing: 2px;
}

inputbar:hover{
    border: 1px solid rgba(184, 65, 65, 0.753);
    box-shadow: 1px 2px 3px;
}

button:hover{
    background-color: darkblue;
}

.letterspace{
    letter-spacing: 5px;
    font-weight: 300;
    line-height: 30px;
}